body {     
    background: linear-gradient(90deg, #ff5757, #5697ffe0, hsl(57, 100%, 53%));
}
nav {
  background: linear-gradient(90deg, #876969cb, #76786ef4);
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 290px;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
nav ul li {
  margin: 0 20px;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 4px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(1.1);
}
img{
    border-radius: 90px;
    box-shadow: 6px 20px 10px rgb(205, 139, 33);
}
a:hover {
    background-color: #984226;
    color: #db0000;
    }
    h1{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            color: #ffffff;
            text-shadow: 0 0 10px #f0b7a4, 0 0 20px #f0b7a4, 0 0 30px #f0b7a4, 0 0 40px #f0b7a4;
    }
    p{
        font-family: 'Brush Script MT', cursive;
        font-size: 200%;
     }